.song-card__container {
    background-color: black;
    width: 500px;
    height: 600px;
    border-radius: 12px;
}

.image__container {
    width: 100%;
    height: 250px;
}

.song-card-image {
   width: 100%;
    height: 250px; 
}

.info__container {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    gap: 12px;
    margin: 12px 0 12px 12px;
    justify-content: flex-start;
    align-items: flex-start;
}

.info__container p {
    margin: 0;
}

.actions__container {
    display: flex;
    flex: row;
    justify-content: center;
    gap: 12px;
}